 <div class="row">
    <div class="col-md-10 col-md-offset-1">
       <div class="panel panel-default">
         <div class="panel-heading">
            <h3 class="panel-title">New Flight Entry</h3>
            <%= link_to 'Back', todo_lists_path, class: "btn btn-danger" %>
         </div>

          <div class="panel-body">
            <%= render 'form', todo_list: @todo_list  %>
          </div>
       </div>
    </div>
 </div>
